body {
  background-color: lightcyan;
  font-family: sans-serif;
}
.heading {
  margin: 1rem;
  color: hsl(240, 1%, 23%);
  font-size: 2rem;
}
.list {
  border: 1px solid;
  box-shadow: 5px 5px 5px rgb(66, 66, 66);
  text-align: center;
  min-width: 200px;
  max-width: 300px;
  padding: 2rem;
  margin: 0.5rem 0.5rem;
  display: inline-block;
}
.listItems {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
