.welcomeMessage {
  font-size: 2.5rem;
  background-color: blue;
  color: white;
  padding: 2rem;
}
.loginPrompt {
  font-size: 2.5rem;
  background-color: black;
  color: aliceblue;
  padding: 2rem;
}
